/* nav ul{background-color: aqua;}
#navigation {background-color: pink;} */
body{background-color: #f5cb59f6;}
.Redflower{border-radius: 50%;}
.team{border-radius:60%; height:300px;}
h1 {background-color: white;}