footer{
    background-color: #264143;
    height:200px;
    color:white
}
footer ul{
    justify-content: space-between;
    list-style: none;
    margin-left: 40px;
    color: white; 
}
footer p{
    color: white;
    margin-left: 10px;
}

footer a{
    color:white;
}




footer ul li a:hover{
    color:#e99f4c;
}